In [1]:
import pandas as pd

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.28-py2.py3-none-any.whl (65 kB)
     --------------------------------------- 65.3/65.3 kB 57.8 kB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.23.5)
Collecting requests>=2.31
  Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Collecting lxml>=4.9.1
  Downloading lxml-4.9.3-cp311-cp311-win_amd64.whl (3.8 MB)
     ---------------------------------------- 3.8/3.8 MB 1.0 MB/s eta 0:00:00
Collecting appdirs>=1.4.4
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: pytz>=2022.5 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2022.7.1)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.8-py311-none-any.whl (14 kB)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (4.11.2)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ------------------------------------ 112.2/112.2 kB 935.2 kB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.31->yfinance) (2023.5.7)
Installing collected packages: multitasking, appdirs, requests, lxml, html5lib, frozendict, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.30.0
    Uninstalling requests-2.30.0:
      Successfully uninstalled requests-2.30.0
Successfully installed appdirs-1.4.4 frozendict-2.3.8 html5lib-1.1 lxml-4.9.3 multitasking-0.0.11 requests-2.31.0 yfinance-0.2.28

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import yfinance as yf

In [3]:
stock = "GC=F"

In [4]:
gold_data = yf.download(stock, start="2013-01-01", end="2023-08-21")

[*********************100%%**********************]  1 of 1 completed

In [5]:
gold_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2013-01-02,1672.800049,1693.800049,1670.000000,1687.900024,1687.900024,35
2013-01-03,1686.099976,1686.800049,1662.000000,1673.699951,1673.699951,140
2013-01-04,1647.000000,1658.300049,1625.699951,1648.099976,1648.099976,199
2013-01-07,1656.500000,1659.900024,1643.800049,1645.500000,1645.500000,49
2013-01-08,1647.699951,1661.500000,1647.699951,1661.500000,1661.500000,17
...,...,...,...,...,...,...
2023-08-14,1909.300049,1912.599976,1903.300049,1910.599976,1910.599976,46
2023-08-15,1906.000000,1907.699951,1895.000000,1902.500000,1902.500000,73
2023-08-16,1904.500000,1904.500000,1890.300049,1896.099976,1896.099976,22
2023-08-17,1893.699951,1902.400024,1884.000000,1884.099976,1884.099976,245
2023-08-18,1891.800049,1891.800049,1886.099976,1886.099976,1886.099976,19

In [6]:
gold_price = gold_data.reset_index()

In [7]:
gold_price

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-01-02,1672.800049,1693.800049,1670.000000,1687.900024,1687.900024,35
1,2013-01-03,1686.099976,1686.800049,1662.000000,1673.699951,1673.699951,140
2,2013-01-04,1647.000000,1658.300049,1625.699951,1648.099976,1648.099976,199
3,2013-01-07,1656.500000,1659.900024,1643.800049,1645.500000,1645.500000,49
4,2013-01-08,1647.699951,1661.500000,1647.699951,1661.500000,1661.500000,17
...,...,...,...,...,...,...,...
2668,2023-08-14,1909.300049,1912.599976,1903.300049,1910.599976,1910.599976,46
2669,2023-08-15,1906.000000,1907.699951,1895.000000,1902.500000,1902.500000,73
2670,2023-08-16,1904.500000,1904.500000,1890.300049,1896.099976,1896.099976,22
2671,2023-08-17,1893.699951,1902.400024,1884.000000,1884.099976,1884.099976,245
2672,2023-08-18,1891.800049,1891.800049,1886.099976,1886.099976,1886.099976,19

In [8]:
gold_price.to_csv("Gold_Price.csv",index = False)